/*############*/
/*GLOBAL STYLES*/
/*############*/

body {
  margin-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p,h1,ul,li {
  padding: 0;
  margin: 0;
}



.landing-page a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.landing-page a:hover {
  text-decoration: none;
  color: inherit;
}

.landing-page a:visited {
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
}

/*#########*/
/*# FONTS #*/
/*#########*/

@font-face {
  font-family: 'NewBaservilleStd-Bold';
   src: url('../NewBaskervilleStd-Bold.otf');
}

@font-face {
  font-family: "WhitneyBook";
    src: url('WhitneyBook.ttf');
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-7o1zfj');
  src:url('fonts/icomoon.eot?#iefix-7o1zfj') format('embedded-opentype'),
    url('fonts/icomoon.woff?-7o1zfj') format('woff'),
    url('fonts/icomoon.ttf?-7o1zfj') format('truetype'),
    url('fonts/icomoon.svg?-7o1zfj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  color: #fff;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-github2:before {
  content: "\eab2";
}


/*##################*/
/* GRID ADJUSMENTS*/
/*##################*/

div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

/*##################*/
/*APPLICATION STYLES*/
/*##################*/


.chat-box {
  height: 320px;
  max-height: 400px;
  overflow: auto;
  border: 2px solid #1ab394;
}

.panel-heading.panel-heading-chat {
  background-color: #1ab394;
  color: #FFF;
}

.chat-rooms {
  height: 320px;
  max-height: 400px;
  border: 2px solid #63d2bc;
}

.panel-heading.panel-heading-room {
  background-color: #63d2bc;
  color: #FFF;
}

#messages {
  padding: 10px;
}

.chat-message {
  padding: 5px 0;
  border-bottom: 2px solid #e7eaec;
}

#send-message {
  font-size: 16px;
}

.btn-primary.btn-msg {
  background-color: #009d7e;
}

.btn-primary.btn-msg:hover {
  background-color:#007861;
}

.btn-info.btn-room {
  color: #fff;
  background-color: #63d2bc;
}

.btn-layout > button{
  margin-bottom: 5px;
}

#mobile-room-list div, #room-list div {
  padding: 8px;
  border-radius: 5px;
}
#mobile-room-list div:hover {
  background-color: #63d2bc;
  color: #fff;
  cursor: pointer;
}

#room-list div:hover {
  background-color: #63d2bc;
  color: #fff;
  cursor: pointer;
}

.msg-header {
  margin-bottom: 5px;
}

.headerUserLogo {
  float: left;
}

.headerBroadcastLogo, .broadcast-icon, .broadcast-text {
  float: right;
}

.broadcast-icon {
  background-color: steelblue;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: steelblue;
  margin-right: 5px;
  float: right;
}

.nameBroadcast {
  position: relative;
  top: -4px;
  right: 5px;
}

.chat-main-body {
  background: url('ribs_light-half.png'),linear-gradient(115.61deg,#448fab 0,#4b9990 99%);
}



/*UI Elements*/

.time {
  font-style: italic;
  text-decoration: underline;
  margin: 0 12px 0 5px;
}

.timeRight {
  float: right;
  position: relative;
  top: -4px;
}

.user-icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #1ab395;
  margin-right: 5px;
  display: inline-block;
}

/*############*/
/*LANDING PAGE*/
/*###########*/

.landing-page {
 /* width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 1.5em;
  background-color: #60eab6;
  color: #fff;
  font-family: 'ff-enzo-web', helvetica, arial, sans-serif;*/
  background: url('splash-hero.svg'),linear-gradient(to bottom right,#3d8099,#74b1c8);
  background-position: center;
  color: #fff;
}

.landing-page > * {
  text-align: center;
}

.landing-page ul {
  list-style-type: none;
}

.main-header, .landing-chat {
  margin-bottom: 15px;
}

.landing-chat, .main-footer {
  margin-top: 15px;
}

.main-section {
  max-width: 1000px;
  margin: 20px auto;
}

.social-media {
  margin-left: 15px;
}

.main-header nav li {
  margin: 15px;
}

.main-header nav span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.main-header nav span:hover, .social-media a:hover {
  color: #39b54a;
}

.banner h1 {
  line-height: 50px;
}

.main-section .slogan {
  margin-top: 30px;
}

.start-chatting {
  color: white;
  outline: none;
  border: none;
  background-color: #39b54a;
  padding: 20px 35px;
  text-transform: uppercase;
}


/*CLEAR FIX*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/*media queires*/

@media (min-width: 768px) {
  .main-header .logo {
    float: left;
  }

  .main-header {
    margin-bottom: 175px;
  }

  .social-media, .info-links, .info-links a {
    float: right;
  }

  .social-media{
    margin-top: 23px;
    /*margin-left: 170px;*/
  }

  .social-media a {
    margin: 0 5px;
  }

}

@media (min-width: 1025px) {
   .social-media{
    margin-left: 100px;
  }
}

